<% layout('layout/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-5 mb-3 card shadow" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-6 mt-3 mb-3">
        <img src="media/God.jpg"
                    alt="Responsive image" class="img-fluid" />
      </div>
      <div class="col-md-6 ">
        <div class="card-body mx-auto mt-auto ">
            <h5 class="card-title text-center">Login</h5>
            <form action="/login" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" autofocus required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="text-end">
                    <div class="card-body">
                        <button class="btn btn-primary btn-block">Login</button>
                    </div>
                  </div>
            </form>
        </div>
      </div>
    </div>
  </div>